<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Create a new poll!</h2>
    <form action="/poll" method="post">
        <label for="question">Question:</label>
        <input type="text" name="question" id="question" /><br />

        <label for="tagstring">Prefilled tags:</label>
        <input type="text" name="tagstring" id="tagstring" value="tag1, tag2, tag3" /><br />

        <input type="submit" value="Create poll" />
    </form>

</body>
</html>
